@font-face {
   font-family: 'dubai-medium';
   font-display: swap;
   src: url('file:///C:/Users/hp/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-20_231419/fonts/dubai-medium/font.ttf');
}
